# Python
__pycache__/
*.pyc

# Environment variables (DO NOT PUSH THIS)
.env

# Docker data
postgres_data/

# Django Static & Media
static/
staticfiles/
media/

# Database (Local)
db.sqlite3

# Virtual Environment
.venv/
env/

# Temporary ignore apps
users/
vendors/
# products/
wishlist/
address/
cart/
orders/
payment/